/*unduh button*/
a.ngunduh{color:#787878;font-size:12px;border:1px solid #ddd;padding:1px 5px;margin-top:5px;display:inline-block;margin-right:5px}
a:hover.ngunduh{color:#fff;background:#721799;border:1px solid #721799}
.radio-img{float:left;margin-right:1em;margin-bottom:0.4em;height:auto;overflow:hidden}
.radio-img img{max-width:143px;min-height:143px;height:auto}
/*single img*/
.music-img{float:left;height:auto;overflow:hidden;height:175px;margin:0 15px 15px 0}
.music-img img{max-width:auto;height:auto}
.post .post-body img, .post-body img{max-width: auto;}
/*Lyrics*/
.multitab-section{width:100%;padding:10px;border:1px solid #ddd;background-color:#f2f2f2}
.multitab-widget{list-style:none;padding:0;overflow:hidden;margin:0 0 10px}
.multitab-widget li{list-style:none;padding:0;margin:0;float:left}
.multitab-widget li a{display:block;font-size:13px;text-decoration:none;margin-right:5px;margin-bottom:5px;color:#787878;padding:3px 10px;border:1px solid #ddd;}
.multitab-widget li a:hover{background:#DEDEDE;color:#333}
.multitab-tab{border:0;text-align:center}
.multitab-widget li a.multitab-widget-current{color:#fff;text-decoration:none;background:#721799;border:1px solid #721799}
#lyrics,#romanji,#english,#indonesia{line-height:25px;color:#666}
#lyrics h3,#romanji h3,#english h3,#indonesia h3{font-size:16px;color:#000;font-family:Roboto,"segoe ui",Helvetica,Arial,sans-serif;margin:0 0 20px}
#lyrics span,#romanji span,#english span,#indonesia span{float:right;font-size:14px;color:#666}
@media screen and (max-width:440px){
.music-img{float:left;overflow:hidden;margin:0 10px 10px 0;padding-right:5px;background:#f2f2f2;border:1px solid #f2f2f2;height:auto!important}
.music-img img{max-width:auto}.post .post-body img, .post-body img{max-width: 100%;}}
